@use '../abstracts/variables' as *;

h1, h2, h3, h4, h5, h6 {
    color: $textColor;
}

p {
    color: #787878;
}

a {
    color: $primaryColor;
    transition: color 0.2s linear;
    cursor: pointer;
    &:hover {
        color: $primaryColor;
    }
}