@use "variables" as *;
@use "mixins" as *;

.home {
  &-header {
    display: flex;
    flex-wrap: wrap;
    &__each {
      padding-right: 20px;
      // margin-bottom: 25px;
      &:last-child {
        padding-right: 0;
      }
      .inner {
        background-color: #fff;
        box-shadow: $shadow;
        border-radius: 5px;
        padding: 20px;
        height: 100%;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .welcome-box {
      width: 60%;
      overflow: hidden;
      position: relative;
      .inner {
        background-color: #eaf3fe;
      }
      img {
        position: absolute;
        bottom: 0;
        right: 20px;
        width: 250px;
      }
      h3 {
        font-size: 1.8em;
        font-weight: 700;
        margin-bottom: 10px;
        color: $headText;
      }
      p {
        font-size: 1.2em;
        line-height: 1.4;
        max-width: 60%;
        margin-bottom: 20px;
      }
      .today-info {
        display: flex;
        &__each {
          margin-right: 30px;
          h4 {
            font-size: 2.5em;
            font-weight: 700;
            color: #607288;
            margin-bottom: 5px;
          }
          p {
            max-width: 100%;
            margin-bottom: 0;
          }
        }
      }
      @include breakpoint-max(1399px) {
        img {
          width: 180px;
        }
        p {
          max-width: 100%;
        }
      }

      @include breakpoint-max(1199px) {
        img {
          display: none;
        }
        .today-info {
          h4 {
            font-size: 2em;
          }
        }
      }

      @include breakpoint-max(991px) {
        h3 {
          font-size: 1.6em;
        }
        .today-info {
          justify-content: space-between;
          &__each {
            margin-right: 0;
            p {
              font-size: 1em;
            }
          }
        }
      }
      @include breakpoint-max(767px) {
        .today-info {
          // flex-direction: column;
          justify-content: flex-start;
          &__each {
            margin-bottom: 20px;
            margin-right: 60px;
            &:last-child {
              margin-bottom: 0;
              margin-right: 0;
            }
          }
        }
      }
      @include breakpoint-max(575px) {
        .today-info {
          &__each {
            margin-right: 30px;
          }
        }
      }
    }
    .data-box {
      width: 40%;
      .inner {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
      &__header {
        display: flex;
        justify-content: space-between;
        .icon-box {
          background-color: $primaryColor;
          color: #fff;
        }
        h3 {
          font-size: 2em;
          margin-bottom: 5px;
        }
        p {
          font-size: 1.2em;
        }
      }
      &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        p {
          font-size: 1.2em;
          margin-bottom: 0;
        }
      }
      .bar {
        width: 100%;
        height: 5px;
        background-color: #c7d7eb;
        margin-top: 10px;
        position: relative;
        span {
          position: absolute;
          width: 50%;
          height: 5px;
          background-color: $primaryColor;
        }
      }
    }
    @include breakpoint-max(991px) {
      .welcome-box,
      .data-box {
        width: 50%;
        margin-bottom: 16px;
      }
    }
    @include breakpoint-max(767px) {
      flex-direction: column;
      .welcome-box,
      .data-box {
        width: 100%;
        padding-right: 0;
      }
    }
  }
}

#chart {
  max-width: 650px;
  margin: 35px auto;
}
