<div class="home pt-20">
  <div class="home-header">
    <div class="home-header__each welcome-box">
      <div class="inner">
        <h3>Good Morning, Joydip!</h3>
        <p>Here's what's happening with your store today.</p>
        <div class="today-info">
          <div class="today-info__each">
            <h4>$2,340</h4>
            <p>Today's Sales</p>
          </div>
          <div class="today-info__each">
            <h4>35%</h4>
            <p>Overall Performance</p>
          </div>
        </div>
        <img src="assets/img/welcome-bg.svg" alt="" />
      </div>
    </div>
    <div class="home-header__each data-box">
      <div class="inner">
        <h3>Good Morning, Anna!</h3>
        <p>Here's what's happening with your store today.</p>
        <p>Here's what's happening with your store today.</p>
        <p>Here's what's happening with your store today.</p>
      </div>
    </div>
  </div>
</div>
