@use "variables" as *;
@use "mixins" as *;

.home {
  &-header {
    display: flex;
    flex-wrap: wrap;
    &__each {
      padding-right: 20px;
      margin-bottom: 25px;
      &:last-child {
        padding-right: 0;
      }
      .inner {
        background-color: #fff;
        box-shadow: $shadow;
        border-radius: 5px;
        padding: 20px;
        height: 100%;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .welcome-box {
      width: 60%;
      overflow: hidden;
      position: relative;
      img {
        position: absolute;
        bottom: 0;
        right: 20px;
        width: 250px;
      }
      h3 {
        font-size: 1.8em;
        font-weight: 700;
        margin-bottom: 10px;
      }
      p {
        font-size: 1.2em;
        line-height: 1.4;
        max-width: 60%;
        margin-bottom: 20px;
      }
      .today-info {
        display: flex;
        &__each {
          margin-right: 30px;
          h4 {
            font-size: 2.5em;
            font-weight: 700;
            color: rebeccapurple;
            margin-bottom: 5px;
          }
          p {
            max-width: 100%;
          }
        }
      }
      @include breakpoint-max(1399px) {
        img {
          display: none;
        }
        p {
          max-width: 100%;
        }
      }

      @include breakpoint-max(1199px) {
        .today-info {
          h4 {
            font-size: 1.5em;
          }
        }
      }

      @include breakpoint-max(991px) {
        .today-info {
          justify-content: space-between;
          &__each {
            margin-right: 0;
            p {
              font-size: 1em;
            }
          }
        }
      }
      @include breakpoint-max(991px) {
        .today-info {
          flex-direction: column;
        }
      }
    }
    .data-box {
      width: 40%;
      h3 {
        font-size: 1.4em;
        margin-bottom: 10px;
      }
      p {
        font-size: 1em;
        line-height: 1.4;
      }
    }
    @include breakpoint-max(991px) {
      .welcome-box,
      .data-box {
        width: 50%;
        margin-bottom: 16px;
      }
    }
    @include breakpoint-max(575px) {
      .welcome-box,
      .data-box {
        width: 100%;
        padding-right: 0;
      }
    }
  }
}
