<div class="home pt-20">
  <div class="home-header">
    <div class="home-header__each welcome-box">
      <div class="inner">
        <h3>Good Morning, Joydip!</h3>
        <p>Here's what's happening with your store today.</p>
        <div class="today-info">
          <div class="today-info__each">
            <h4>$2,340</h4>
            <p>Today's Sales</p>
          </div>
          <div class="today-info__each">
            <h4>35%</h4>
            <p>Overall Performance</p>
          </div>
        </div>
        <img src="assets/img/welcome-bg.svg" alt="" />
      </div>
    </div>
    <div class="home-header__each data-box">
      <div class="inner">
        <div class="data-box__header">
          <div class="icon-box">
            <i class="fa-solid fa-dollar-sign"></i>
          </div>
          <div class="income">
            <h3>$31,570</h3>
            <p>Income Status</p>
          </div>
          <!-- <div id="chart">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [xaxis]="chartOptions.xaxis"
              [dataLabels]="chartOptions.dataLabels"
              [grid]="chartOptions.grid"
              [stroke]="chartOptions.stroke"
              [title]="chartOptions.title"
            ></apx-chart>
          </div> -->
        </div>
        <div class="data-box__footer pt-50">
          <p>Income Target</p>
          <p>$180548.00</p>
        </div>
        <div class="bar"><span></span></div>
      </div>
    </div>
  </div>
  <app-table-one></app-table-one>
</div>
