<div class="chart-two pt-25">
    <div class="row">
        <div class="col-md-12 pb-25">
            <div class="chart-two__each">
                <app-bar-chart-two></app-bar-chart-two>
            </div>
        </div>
        <div class="col-md-6 pb-25">
            <div class="chart-two__each">
                <app-gauge-chart></app-gauge-chart>
            </div>
        </div>
        <div class="col-md-6 pb-25">
            <div class="chart-two__each">

            </div>
        </div>
        <div class="col-md-12 pb-25">
            <div class="chart-two__each">
           <app-area-chart></app-area-chart>
            </div>
        </div>
    </div>
</div>
