<div class="chart_one pt-25">
  <div class="row">
    <div class="col-md-8">
      <div class="chart_one__each">
        <ngx-charts-area-chart
          [results]="areaChart"
          [legend]="false"
          [yAxis]="false"
          [xAxis]="false"
          [legendTitle]="'Product Sale Report'"
        >
        </ngx-charts-area-chart>
      </div>
    </div>
    <div class="col-md-4">
      <div class="chart_one__each">
        <ngx-charts-polar-chart [results]="polarChart" [legend]="false">
        </ngx-charts-polar-chart>
      </div>
    </div>
  </div>
</div>
