<div class="chart-two pt-25">
    <div class="row">
        <div class="col-md-8 pb-25">
            <div class="chart-two__each">
                <app-line-chart></app-line-chart>
            </div>
        </div>
        <div class="col-md-4 pb-25">
            <div class="chart-two__each">
                <app-pie-chart></app-pie-chart>
            </div>
        </div>
        <div class="col-md-6 pb-25">
            <div class="chart-two__each">
                <app-area-chart-two></app-area-chart-two>
            </div>
        </div>
        <div class="col-md-6 pb-25">
            <div class="chart-two__each">
                <app-column-chart></app-column-chart>
            </div>
        </div>
    </div>
</div>