@use "variables" as *;
@use "mixins" as *;

.dashboard-body {
  padding: 30px;
  &__inner {
    margin-left: $sidebarWidth;
    transition: 0.5s;
    margin-top: 100px;
    &--active {
      margin-left: 90px;
    }
    p {
      color: #717171;
      font-size: 15px;
    }
  }
}
