<app-header></app-header>
<div class="dashboard-body">
  <div
    class="dashboard-body__inner"
    [ngClass]="{ 'dashboard-body__inner--active': isfullArea }"
  >
    <h1>Joydip Paul</h1>
    <p class="tex-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, beatae
      delectus! Officiis unde eos, laborum enim in ea. Iusto doloremque aliquam
      voluptates explicabo. Doloribus nulla totam sunt consequatur architecto
      quaerat.
    </p>
    <button nz-button nzType="primary">Primary Button</button>
    <button nz-button nzType="default">Default Button</button>
    <button nz-button nzType="dashed">Dashed Button</button>
    <button nz-button nzType="text">Text Button</button>
    <a nz-button nzType="link">Link Button</a>
    <button class="btn btn-primary">Button</button>
    <!-- <button nz-button (click)="showModal()"><span>Show Modal</span></button>
    <nz-modal
      [(nzVisible)]="isVisible"
      nzTitle="The first Modal"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
    >
      <ng-container *nzModalContent>
        <p>Content one</p>
        <p>Content two</p>
        <p>Content three</p>
      </ng-container>
    </nz-modal> -->
  </div>
</div>
