<div class="header" [ngClass]="{ header__active: isHeaderFullArea }">
  <div class="hamburger">
    <button (click)="openCart()">
      <i
        [ngClass]="isHeaderFullArea ? 'fa-solid fa-xmark' : 'fa-solid fa-bars'"
      ></i>
    </button>
    <div class="search">
      <span><i class="fa-solid fa-magnifying-glass"></i></span>
      <input type="text" placeholder="Search..." />
    </div>
  </div>
  <nav>
    <ul>
      <li><img src="assets/img/apps-icon.png" alt="" /></li>
      <li><img src="assets/img/cart-icon.png" alt="" /></li>
      <li><img src="assets/img/moon-icon.png" alt="" /></li>
      <li><img src="assets/img/notification-icon.png" alt="" /></li>
      <li><img src="assets/img/avatar.jpeg" alt="" /></li>
    </ul>
  </nav>
</div>
