<div class="card">
    <div class="card_header">
        <h2>Hello</h2>
    </div>
    <div class="card_body">
        <div class="card_body__content">
            <h3>This is second title</h3>
            <div class="card_body__content--desc">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga cumque ullam odio velit, reprehenderit animi, aliquid voluptate deleniti veniam hic assumenda delectus nemo facilis? Earum perferendis atque optio animi obcaecati.</p>
            </div>
        </div>
    </div>
    <div class="card_footer">
        <button>Ok</button>
    </div>
</div>