@mixin breakpoint-max($maxWidth) {
    @media only screen and (max-width: $maxWidth) {
        @content;
    }
}

@mixin breakpoint-min($minWidth) {
    @media only screen and (min-width: $minWidth) {
        @content;
    }
}

@mixin font-size($size) {
    font-size: $size * 1px;
    font-size: calEm($size);
}

// Gutter mixins for control padding and margin
@mixin gutter($prop, $value, $iteration: 5px) {
    #{$prop}: $value * $iteration;

    @include breakpoint-max(991px) {
        @if ($value >=10) {
            #{$prop}: $value * ($iteration / 2);
        }

        @if ($value ==14) {
            #{$prop}: 20px;
        }
    }
}

@mixin box-shadow($x, $y, $blur, $spread) {
    -webkit-box-shadow: $x $y $blur $spread;
    -moz-box-shadow: $x $y $blur $spread;
    -ms-box-shadow: $x $y $blur $spread;
    -o-box-shadow: $x $y $blur $spread;
    box-shadow: $x $y $blur $spread;
}

@mixin pseudo ($content: '', $pos: absolute, $pseudo: before) {
    position: relative;

    &::#{$pseudo} {
        content: $content;
        position: $pos;
        @content;
    }
}

%title-three {
    font-size: 2.2em;
    margin-bottom: 20px;
}

%title-four {
    font-size: 2em;
    margin-bottom: 20px;
}


@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
    // For Google Chrome
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }
    &::-webkit-scrollbar-thumb {
        background: $foreground-color;
        border-radius: 10px;
        &:hover {
            background-color: $foreground-color;
        }
    }
    &::-webkit-scrollbar-track {
        background: $background-color;
    }
    // For Internet Explorer
    & {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}