@use "variables" as *;
@use "mixins" as *;

.sidebar {
  background-color: #173753;
  width: $sidebarWidth;
  position: fixed;
  top: 0;
  transition: 0.3s;

  @include breakpoint-max(991px) {
    width: 90px;
    position: absolute;
    .sidebar-inner {
      overflow: initial;
      padding: 0;

      .logo {
        border-bottom: 0;

        h3 {
          display: none;
        }
      }

      &__menu {
        margin-top: 80px;

        .nav {
          h4 {
            width: 100%;

            span {
              display: none;
            }

            img {
              display: block;
              width: 20px;
              margin-left: auto;
              margin-right: auto;
              filter: brightness(0) saturate(97%) invert(70%) sepia(10%)
                saturate(800%) hue-rotate(148deg) brightness(78%) contrast(42%);
            }
          }

          &-item {
            display: flex;
            justify-content: center;
            overflow: initial;

            &:hover {
              .dropdown-area {
                display: block;
              }
            }

            &__list {
              width: 100%;
              display: flex;
              justify-content: center;
              .left-icon {
                margin-right: 0;

                i {
                  font-size: 20px;
                }
              }

              span {
                position: absolute;
                left: 91px;
                background-color: #173753;
                padding: 10px;
                z-index: 999;
                border-radius: 5px;
                min-width: 150px;
                margin-top: 10px;
                display: none;
              }
              &:hover {
                span {
                  display: block;
                }
              }

              .right-icon {
                display: none;
              }
            }

            .dropdown-area {
              position: absolute;
              background-color: #173753;
              left: 90px;
              top: 0;
              padding: 30px;
              border-radius: 0 10px 10px 0;
              display: none;
              transition: 0.3s;
              border-left: 1px solid #4c7192;
              z-index: 999 !important;

              &:not(.show) {
                height: auto;
              }

              .mobile-title {
                display: block;
              }
            }
          }
        }

        .drop {
          span {
            opacity: 0;
            pointer-events: none;
          }
        }
      }
    }
  }

  &__active {
    width: 90px;
    padding: 0;
  }

  &-inner {
    position: relative;
    overflow: overlay;
    height: 100vh;
    padding: 30px;

    &:hover {
      &::-webkit-scrollbar-thumb {
        background: #589cd7;
      }
    }
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: #173753;
      border-radius: 10px;

      &:hover {
        background-color: #4c7192;
      }
    }

    &::-webkit-scrollbar-track {
      background: #173753;
    }

    .logo {
      overflow: hidden;
      position: relative;
      position: fixed;
      top: 0;
      width: 300px;
      left: 0;
      right: 0;
      height: 60px;
      z-index: 1;
      background-color: #173753;
      border-bottom: 1px solid #4c7192;
      margin-bottom: 10px;
      @include breakpoint-max(767px) {
        width: 90px;
      }

      h3 {
        font-size: 2em;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        padding-top: 12px;
      }

      figure {
        padding-top: 20px;
        position: fixed;
        top: 0;
        width: 90px;
        left: 0;
        right: 0;
        height: 60px;
        z-index: 1;
        background-color: #173753;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
          border-radius: 5px;
        }
      }
    }

    &__menu {
      margin-top: 50px;

      .nav {
        h4 {
          span {
            color: #979baf;
            margin-bottom: 1em;
            padding-top: 10px;
          }

          img {
            display: none;
          }
        }

        &-item {
          width: 100%;
          cursor: pointer;
          margin-bottom: 12px;
          position: relative;
          overflow: hidden;

          &__list {
            display: flex;
            align-items: center;
            // position: relative;
            margin-bottom: 10px;

            i {
              color: #dfdddd;
              font-size: 15px;
              vertical-align: -2px;
            }

            .left-icon {
              margin-right: 10px;
            }

            span {
              color: #fff;
              font-size: 15px;
            }

            .right-icon {
              position: absolute;
              right: 10px;

              i {
                vertical-align: 2px;
                color: #afafaf;
              }
            }
          }
        }

        .dropdown-area {
          &:not(.show) {
            height: 0;
          }

          .mobile-title {
            font-size: 16px;
            color: #fff;
            position: relative;
            cursor: pointer;
            padding-left: 0;
            display: none;

            &::before {
              width: 0;
            }
          }

          li {
            font-size: 1em;
            padding-left: 28px;
            color: #afafaf;
            margin-bottom: 10px;
            position: relative;
            transition: 0.3s;
            cursor: pointer;

            &::before {
              content: "";
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
              width: 10px;
              height: 1px;
              background-color: #afafaf;
            }

            &:hover {
              color: #fff;
            }

            &:hover::before {
              background-color: #fff;
            }
          }
        }
      }
    }
  }

  &-mini {
    position: absolute;
    .sidebar-inner {
      overflow: initial;
      padding: 0;

      .logo {
        border-bottom: 0;
        width: 90px;

        h3 {
          display: none;
        }
      }

      &__menu {
        margin-top: 80px;
        overflow: initial;
        height: 100%;

        .nav {
          h4 {
            width: 100%;

            span {
              display: none;
            }

            img {
              display: block;
              width: 20px;
              margin-left: auto;
              margin-right: auto;
              // filter: brightness(0) saturate(100%) invert(70%) sepia(97%) saturate(925%) hue-rotate(353deg) brightness(102%) contrast(102%);
              filter: brightness(0) saturate(97%) invert(70%) sepia(10%)
                saturate(800%) hue-rotate(148deg) brightness(78%) contrast(42%);
            }
          }

          &-item {
            display: flex;
            justify-content: center;
            overflow: initial;

            &__list {
              width: 100%;
              display: flex;
              justify-content: center;
              .left-icon {
                margin-right: 0;

                i {
                  font-size: 20px;
                }
              }

              span {
                position: absolute;
                left: 91px;
                background-color: #173753;
                padding: 10px;
                z-index: 999;
                border-radius: 5px;
                min-width: 150px;
                margin-top: 10px;
                display: none;
              }
              &:hover {
                span {
                  display: block;
                }
              }

              .right-icon {
                display: none;
              }
            }

            .dropdown-area {
              position: absolute;
              background-color: #173753;
              left: 90px;
              top: 0;
              padding: 30px;
              border-radius: 0 10px 10px 0;
              // opacity: 0;
              display: none;
              transition: 0.3s;
              border-left: 1px solid #4c7192;
              z-index: 999 !important;

              &:not(.show) {
                height: auto;
              }

              .mobile-title {
                display: block;
              }
            }

            &:hover {
              .dropdown-area {
                display: block;
              }
            }
          }
        }

        .drop {
          span {
            opacity: 0;
            pointer-events: none;
          }
        }
      }
    }
  }
}
