<div
  class="sidebar"
  [ngClass]="{
    'sidebar__active sidebar-mini': isSidebar
  }"
>
  <div class="sidebar-inner">
    <div class="logo">
      <h3
        routerLinkActive="active"
        (click)="goToPage('/')"
        [ngClass]="{ active: isActive('/') }"
      >
        Manate
      </h3>
      <figure class="d-lg-none">
        <img src="assets/img/logo.jpeg" alt="" />
      </figure>
      <figure *ngIf="isSidebar">
        <img src="assets/img/logo.jpeg" alt="" />
      </figure>
    </div>
    <div class="sidebar-inner__menu">
      <ul class="nav">
        <h4><span>Menu</span></h4>
        <li class="nav-item drop">
          <div class="nav-item__list" (click)="expandDropdown($event)">
            <div class="left-icon">
              <i class="fa-solid fa-house"></i>
            </div>
            <span>Dashboard</span>
            <div class="right-icon">
              <i class="fa-solid fa-chevron-down"></i>
            </div>
          </div>
          <ul class="dropdown-area sho">
            <li class="mobile-title">Dashboard</li>
            <li routerLink="/analytics">Analytics</li>
            <li
              routerLinkActive="active"
              (click)="goToPage('/crm')"
              [ngClass]="{ active: isActive('/crm') }"
            >
              CRM
            </li>
            <li>Crypto</li>
            <li>NFT</li>
            <li>Job</li>
          </ul>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          (click)="goToPage('/analytics')"
          [ngClass]="{ active: isActive('/analytics') }"
        >
          <div class="nav-item__list">
            <div class="left-icon">
              <i class="fa-solid fa-table"></i>
            </div>
            <span>Layouts</span>
          </div>
        </li>

        <li class="nav-item drop">
          <div class="nav-item__list" (click)="expandDropdown($event)">
            <div class="left-icon">
              <i class="fa-brands fa-intercom"></i>
            </div>
            <span>Apps</span>
            <div class="right-icon">
              <i class="fa-solid fa-chevron-down"></i>
            </div>
          </div>
          <ul class="dropdown-area">
            <li class="mobile-title">Apps</li>
            <li>Calendar</li>
            <li>Chat</li>
            <li>Email</li>
            <li>Ecommerce</li>
            <li>Projects</li>
          </ul>
        </li>
        <h4><span>Pages</span><img src="assets/img/more.png" alt="" /></h4>
        <li class="nav-item">
          <div class="nav-item__list">
            <div class="left-icon">
              <i class="fa-brands fa-autoprefixer"></i>
            </div>
            <span class="show-mini">Authentication</span>
            <div class="right-icon">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-item__list">
            <div class="left-icon">
              <i class="fa-solid fa-file-lines"></i>
            </div>
            <span>Pages</span>
            <div class="right-icon">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-item__list">
            <div class="left-icon">
              <i class="fa-solid fa-pager"></i>
            </div>
            <span>landing</span>
            <div class="right-icon">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
        </li>

        <h4><span>ELEMENTS</span> <img src="assets/img/more.png" alt="" /></h4>
        <li class="nav-item">
          <div class="nav-item__list">
            <div class="left-icon">
              <i class="fa-brands fa-uikit"></i>
            </div>
            <span>Base UI</span>
            <div class="right-icon">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-item__list">
            <div class="left-icon">
              <i class="fa-brands fa-guilded"></i>
            </div>
            <span>Advance UI</span>
            <div class="right-icon">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-item__list">
            <div class="left-icon">
              <i class="fa-solid fa-bridge-water"></i>
            </div>
            <span>Widgets</span>
            <div class="right-icon">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-item__list">
            <div class="left-icon">
              <i class="fa-solid fa-file-waveform"></i>
            </div>
            <span>Forms</span>
            <div class="right-icon">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-item__list">
            <div class="left-icon">
              <i class="fa-solid fa-table-list"></i>
            </div>
            <span>Tables</span>
            <div class="right-icon">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-item__list">
            <div class="left-icon">
              <i class="fa-solid fa-chart-pie"></i>
            </div>
            <span>Charts</span>
            <div class="right-icon">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-item__list">
            <div class="left-icon">
              <i class="fa-solid fa-icons"></i>
            </div>
            <span>Icons</span>
            <div class="right-icon">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-item__list">
            <div class="left-icon">
              <i class="fa-solid fa-map-location"></i>
            </div>
            <span>Maps</span>
            <div class="right-icon">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="sidebar__footer"></div>
  </div>
</div>
